body {
    color: white;
    background: #1d2229;
    padding-top: 5rem;
}
.generic-header {
    padding: 3rem 1.5rem;
    text-align: left;
}

h1{
    color:#D0BC50;
}

h2{
    background: #28374f;
    padding-left: 10px;
    width: min-content;
    padding-right: 10px;
}
#li{
    color:#0000FF;
}
input.form-control {
    width: auto;
}