body {
    color: white;
    background: #1d2229;
    padding-top: 5rem;
}
.generic-header {
    padding: 3rem 1.5rem;
    text-align: left;
}

h1{
    color:#D0BC50;
}

h2{
    color:#FF0000;
}
#li{
    color:#0000FF;
}
input.form-control {
    width: auto;
}